/* GENERAL */

@font-face
/* Définition des Polices particulières */

{
    font-family: 'Raleway';
    src: url('Police/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    /* Plan Général Page */
    max-width: 1200px;
}


/* ENTETE */

header {
    width: 600px;
}

header img {
    max-width: 150px;
}

#entete {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 20px;
}

header h2 {
    font-size: 15px;
    font-style: normal;
}

nav a {
    margin: 0px 30px;
}

nav li {
    list-style: none;
    display: inline;
}


/* RECHERCHE */

#section_recherche {
    display: flex;
    justify-content: left;
}

#svg_map {
    width: 15px;
    padding: 10px;
    border-style: solid;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border-color: #F2F2F2;
    /*transform: translate(5%, 120%);*/
}

#encadre_input {
    outline: none;
    font-size: 15px;
    width: 175px;
    height: 35px;
    padding-top: 15px;
}

#bouton_rechercher {
    margin-top: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    height: 20px;
    padding: 10px 30px 10px 30px;
    border-style: solid;
    border-radius: 0px 15px 15px 0px;
    border-color: #F2F2F2;
}


/* FILTRES */

#filtre {
    display: flex;
}

#filtre h1 {
    margin: 0px 0px 0px 0px;
    max-width: 150px;
}

.svg_autre {
    margin-top: -60px;
    width: 15px;
    padding: 10px;
    border-style: solid;
    background-color: #DEEBFF;
    border-radius: 50px 50px 50px 50px;
    border-color: #DEEBFF;
    transform: translate(5%, 120%);
}

#svg_bonhomme {
    margin-top: -60px;
    width: 10px;
    padding: 10px;
    border-style: solid;
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    border-color: #DEEBFF;
    transform: translate(5%, 120%);
}

.encadre_svg {
    padding-left: 50px;
    padding-right: 10px;
    border-style: solid;
    background-color: white;
    border-radius: 35px 35px 35px 35px;
    border-color: #F2F2F2;
    font-size: 27px;
}

.encadre_svg:hover {
    color: #0065FC;
}