/* GENERAL */

@font-face
/* Définition des Polices particulières */

{
    font-family: 'Raleway';
    src: url('Police/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    /* Plan Général Page */
    width: 80%;
    margin: auto;
    border: solid 2px red;
}

em {
    font-weight: bold;
}

.h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    padding-left: 20px;
}

.h2 {
    font-size: 15px;
    margin-top: auto;
    padding-left: 20px;
}

.h3 {
    font-size: 10px;
    padding-left: 20px;
    transform: translate(0%, -100%);
}

.etoile_bleue {
    height: 3px;
    font-size: 10px;
    color: #0065FC;
}

.etoile_grise {
    height: 3px;
    font-size: 10px;
    color: grey;
}


/* ENTETE */

#entete {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

#entete_responsive {
    display: none;
}

header {
    width: 600px;
    padding-left: 20px;
}

header h1 {
    font-size: 20px;
}

header img {
    max-width: 150px;
}

header img {
    max-width: 100px;
}

header h2 {
    font-size: 15px;
    font-weight: normal;
}

nav a {
    margin: 0px 30px;
    list-style: none;
    display: inline;
    text-decoration: none;
}

nav a:last-child {
    font-weight: bold;
    text-decoration: none;
}


/* RECHERCHE */

#section_recherche {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

#svg_map {
    width: 15px;
    padding: 10px;
    border-style: solid;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border-color: #F2F2F2;
}

#encadre_input {
    outline: none;
    font-size: 15px;
    width: 175px;
    height: 35px;
    line-height: 50px;
}

#bouton_rechercher {
    margin-top: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    height: 20px;
    padding: 10px 30px 10px 30px;
    /* padding-top: 8px; */
    border-style: solid;
    border-radius: 0px 15px 15px 0px;
    border-color: #F2F2F2;
}


/* FILTRES */

#filtre {
    padding-left: 20px;
    font-weight: bold;
}

.alignement_filtre {
    display: flex;
    justify-content: flex-start;
}

.alignement_filtre p {
    padding-top: 12px;
}

.filtres li {
    display: inline-block;
    border-style: solid;
    border-radius: 35px 35px 35px 35px;
    border-color: #F2F2F2;
    height: 30px;
    padding-top: 10px;
    font-size: 15px;
}

.filtres li>span {
    display: inline-block;
    margin-left: 5px;
    height: 30px;
    padding: 10px;
    padding-right: 20px;
    transform: translate(0%, -26%);
}

.filtres i {
    width: 42px;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    border-color: #DEEBFF;
    color: #0065FC;
    margin: auto;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    line-height: 1.4;
    transform: translate(0%, -26%);
}

span:hover {
    color: #0065FC;
}


/* NOTE INFORMATION */

#i_info {
    margin-left: 30px;
    width: 3px;
    height: 7px;
    padding: 10px;
    padding-bottom: 15px;
    border-style: solid;
    background-color: white;
    border-radius: 50%;
    border-color: #DEEBFF;
    color: #0065FC;
}

#text_info {
    padding-left: 80px;
    transform: translate(0%, -220%);
}


/* POPULAIRE GENERAL */

.populaire_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 10px;
    width: 270px;
    height: 600px;
    margin-left: 72%;
}

#populaire_svg {
    padding-left: 30px;
}


/* POPULAIRE CHAMBRE */

.populaire_chambre {
    border: white;
    border-radius: 30px;
    background-color: white;
    max-width: 260px;
    height: 120px;
    clear: both;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.populaire_chambre img {
    width: 40%;
    height: 132px;
    padding: 4px;
    border-radius: 30px 0px 0px 30px;
    float: left;
}

.populaire_chambre svg {
    width: 10px;
    margin-top: 10px;
    transform: translate(100%, 300%);
}

.populaire_h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    padding-left: 20px;
}

.populaire_h2 {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}


/* HEBERGEMENT GENERAL */

.hebergement_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 230px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-left: 30px;
    margin-top: -600px;
    width: 64%;
    height: 570px;
}

.hebergement_h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    padding-left: 20px;
    width: 80%;
}

.hebergement_h2 {
    padding-left: 20px;
    margin-top: auto;
    font-size: 15px;
    font-weight: bold;
}

.hebergement_afficher_plus {
    font-size: 15px;
    font-weight: bold;
    margin-top: auto;
    padding: 10px;
    width: 80%;
    color: black;
    text-decoration: none;
}


/* HEBERGEMENT CHAMBRE */

.hebergement_chambre {
    border: white;
    border-radius: 30px;
    background-color: white;
    max-width: 220px;
    max-height: 210px;
}

.hebergement_chambre img {
    width: 212px;
    padding: 4px;
    border-radius: 30px 30px 0px 0px;
    height: 140px;
}

.hebergement_chambre i {
    width: 10px;
    margin-top: 10px;
    transform: translate(200%, -300%);
}


/* ACTIVITES */

#activites_section {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 40px;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 100%;
    height: 420px;
}

.activites_section_milieu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.activite_h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    padding-left: 20px;
    width: 80%;
    flex-grow: 1;
    border: solid 2px white;
}

.activite_h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: auto;
    padding-left: 15px;
    width: 90%;
}

.activite_chambre_grande {
    border: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #F2F2F2;
    background-color: white;
    max-width: 220px;
    height: 400px;
}

.activite_chambre_grande img {
    width: 212px;
    padding: 4px;
    border-radius: 30px 30px 0px 0px;
    height: 360px;
}

.activite_chambre_moyenne {
    border: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #F2F2F2;
    background-color: white;
    max-width: 220px;
    height: 240px;
}

.activite_chambre_moyenne img {
    width: 212px;
    padding: 4px;
    border-radius: 30px 30px 0px 0px;
    height: 200px;
}

.activite_chambre_petite {
    border: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #F2F2F2;
    background-color: white;
    max-width: 220px;
    height: 140px;
}

.activite_chambre_petite img {
    width: 212px;
    padding: 4px;
    border-radius: 30px 30px 0px 0px;
    height: 100px;
}


/* BAS DE PAGE */

footer {
    margin-top: 60px;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: stretch;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer div {
    width: 600px;
}

footer a {
    margin-left: 0;
    color: black;
    text-decoration: none;
}

footer ul {
    list-style: none;
    display: inline;
    text-decoration: none;
}

footer li {
    list-style: none;
    padding-bottom: 10px;
    padding-left: 20px;
}


/*  -----  VERSION MOBILE -----  */

@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        /* Plan Général Page */
        width: 95%;
        margin: auto;
        border: solid 2px green;
    }
    .h3 {
        font-size: 10px;
        padding-left: 15px;
        transform: translate(0%, -100%);
    }
    /*  ENTETE RESPONSIVE  */
    /* ENTETE */
    #entete {
        display: none;
    }
    #entete_responsive {
        display: flex;
        margin: 0px 5px 5px 0px;
        border: solid 2px red;
    }
    #entete_responsive_premiere_partie {
        border: solid 2px blue;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5px;
    }
    header img {
        float: left;
    }
    header a {
        list-style: none;
        text-decoration: none;
        border: solid 2px rgb(0, 128, 28);
    }
    #header_a1 {
        font-weight: bold;
        padding-left: 130px;
        line-height: 50px;
    }
    #header_a2 {
        clear: both;
        margin-left: 15%;
    }
    #header_a3 {
        margin-left: 15%;
    }
    header h1 {
        text-align: justify;
        margin-right: 20px;
    }
    /* FILTRES */
    #filtre {
        padding-left: 20px;
        font-weight: bold;
    }
    .alignement_filtre {
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        border: solid 2px blue;
    }
    .alignement_filtre p {
        padding-top: 5px;
        border: solid 2px red;
        flex-grow: 1;
    }
    /* NOTE INFORMATION */
    #text_info {
        padding-left: 80px;
        transform: translate(0%, -140%);
    }
    /* POPULAIRE GENERAL */
    .populaire_section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding-left: 10px;
        width: auto;
        margin-right: 25px;
        height: 600px;
        margin-left: 25px;
    }
    .populaire_chambre {
        border: white;
        border-radius: 30px;
        background-color: white;
        max-width: 285px;
        height: 112px;
        clear: both;
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .populaire_h1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 25px;
        padding-left: 20px;
    }
    .populaire_h2 {
        padding-left: 15px;
    }
    /* HEBERGEMENT */
    .hebergement_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        margin-left: 25px;
        margin-top: 50px;
        width: 280px;
        height: auto;
        border: solid 2px red;
    }
    .hebergement_h1 {
        padding-left: 15px;
    }
    .hebergement_h2 {
        padding-left: 15px;
    }
    /* HEBERGEMENT CHAMBRE */
    .hebergement_chambre {
        box-shadow: 5px 5px 5px #F2F2F2;
        border-radius: 30px;
        background-color: white;
        max-width: 280px;
        max-height: 210px;
        margin-bottom: 20px;
    }
    .hebergement_chambre img {
        width: 272px;
        padding: 4px;
        border-radius: 30px 30px 0px 0px;
        height: 140px;
    }
    .hebergement_chambre i {
        width: 10px;
        margin-top: 10px;
        transform: translate(200%, -300%);
    }
    /* ACTIVITES */
    #activites_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        margin-left: 25px;
        margin-top: 50px;
        width: 280px;
        height: auto;
        border: solid 2px red;
    }
    .activites_section_milieu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0%;
        padding-right: 0%;
    }
    .activite_chambre_grande {
        border: solid 2px blue;
        box-shadow: 5px 5px 5px #F2F2F2;
        border-radius: 30px;
        background-color: white;
        max-width: 280px;
        max-height: 140px;
        margin-bottom: 20px;
    }
    .activite_chambre_grande img {
        width: 272px;
        padding: 4px;
        border-radius: 30px 30px 0px 0px;
        height: 100px;
    }
    .activite_chambre_moyenne {
        border: solid 2px green;
        box-shadow: 5px 5px 5px #F2F2F2;
        border-radius: 30px;
        background-color: white;
        max-width: 280px;
        max-height: 140px;
        margin-bottom: 20px;
    }
    .activite_chambre_moyenne img {
        width: 272px;
        padding: 4px;
        border-radius: 30px 30px 0px 0px;
        height: 100px;
    }
    .activite_chambre_petite {
        border: solid 2px red;
        box-shadow: 5px 5px 5px #F2F2F2;
        border-radius: 30px;
        background-color: white;
        max-width: 280px;
        max-height: 140px;
        margin-bottom: 20px;
    }
    .activite_chambre_petite img {
        width: 272px;
        padding: 4px;
        border-radius: 30px 30px 0px 0px;
        height: 100px;
    }
    footer {
        margin-top: 60px;
        width: auto;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    footer div {
        margin-bottom: 10px;
    }
    footer li {
        list-style: none;
        padding-bottom: 25px;
        padding-left: 20px;
        margin-top: -20px;
    }
}