/* GENERAL */

@font-face
/* Définition des Polices particulières */

{
    font-family: 'Raleway';
    src: url('Police/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    /* Plan Général Page */
    max-width: 1200px;
    margin-left: 10px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}


/* ENTETE */

header {
    width: 600px;
    padding-left: 20px;
}

header img {
    max-width: 150px;
}

#entete {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 100px;
}

header h2 {
    font-size: 15px;
    font-style: normal;
}

nav a {
    margin: 0px 30px;
}

nav li {
    list-style: none;
    display: inline;
}


/* RECHERCHE */

#section_recherche {
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

#svg_map {
    width: 15px;
    padding: 10px;
    border-style: solid;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border-color: #F2F2F2;
}

#encadre_input {
    outline: none;
    font-size: 15px;
    width: 175px;
    height: 35px;
    padding-top: 15px;
}

#bouton_rechercher {
    margin-top: 15px;
    color: white;
    background-color: #0065FC;
    width: auto;
    height: 20px;
    padding: 10px 30px 10px 30px;
    border-style: solid;
    border-radius: 0px 15px 15px 0px;
    border-color: #F2F2F2;
}


/* FILTRES */

#filtre {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin-left: 30px;
}

#filtre h1 {
    margin: 0px 0px 0px 0px;
    max-width: 150px;
}

#filtre h2 {
    font-size: 15px;
}

.svg_autre {
    margin-top: -60px;
    width: 15px;
    padding: 10px;
    border-style: solid;
    background-color: #DEEBFF;
    border-radius: 50px 50px 50px 50px;
    border-color: #DEEBFF;
    transform: translate(5%, 120%);
}

#svg_bonhomme {
    margin-top: -60px;
    width: 10px;
    padding: 10px;
    border-style: solid;
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    border-color: #DEEBFF;
    transform: translate(5%, 120%);
}

.encadre_svg {
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    border-style: solid;
    /*background-color: white;*/
    border-radius: 35px 35px 35px 35px;
    border-color: #F2F2F2;
    height: 30px;
    transform: translate(0%, -20%);
}

.encadre_svg:hover {
    color: #0065FC;
}


/* NOTE INFORMATION */

#svg_info {
    margin-top: 10px;
    margin-left: 30px;
    width: 3px;
    padding: 4px;
    border-style: solid;
    background-color: white;
    border-radius: 50%;
    border-color: #DEEBFF;
}

#text_info {
    padding-left: 60px;
    transform: translate(0%, -215%);
}


/* POPULAIRE GENERAL */

#populaire_general {
    background-color: #F2F2F2;
    padding-left: 50px;
    width: 400px;
}

#svg_populaire {
    width: 30px;
    transform: translate(1100%, -140%);
}


/* HEBERGEMENT GENERAL */

#hebergement_general {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 30px;
    width: 710px;
}

#hebergement_section {
    display: flex;
    justify-content: space-between;
    width: 600px;
    min-height: 230px;
    padding-bottom: 10px;
}


/* HEBERGEMENT CHAMBRE */

.hebergement_chambre {
    border: white;
    border-radius: 30px;
    background-color: white;
    max-width: 220px;
    max-height: 210px;
}

.hebergement_chambre img {
    width: 212px;
    padding: 4px;
    border-radius: 30px 30px 0px 0px;
    height: 140px;
}

.hebergement_chambre h2 {
    font-size: 15px;
    margin-top: auto;
    padding-left: 20px;
}

.hebergement_chambre h3 {
    font-size: 10px;
    padding-left: 20px;
    transform: translate(0%, -100%);
}

.hebergement_chambre em {
    font-weight: bold;
}

.hebergement_chambre svg {
    width: 10px;
    margin-top: 10px;
    padding-left: 5px;
    transform: translate(100%, -350%);
}


/* ACTIVITES */

#activites_section {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}


/* BAS DE PAGE */

footer {
    max-width: 1200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: stretch;
}

footer div {
    width: 600px;
}

footer h1 {
    padding-left: 20px;
}

footer ul {
    padding-left: 20px;
    margin-left: 0;
}

footer li {
    list-style: none;
}